src/flows/ContractComplianceSignOff-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>agree</name>
        <choiceText>agree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>agree</stringValue>
        </value>
    </choices>
    <decisions>
        <name>dcAgree</name>
        <label>dcAgree</label>
        <locationX>190</locationX>
        <locationY>599</locationY>
        <defaultConnector>
            <targetReference>scdisagree</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>disagree</defaultConnectorLabel>
        <rules>
            <name>dcAgreeWCI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>chAgree</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>agree</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>rcComplianceSignOff</targetReference>
            </connector>
            <label>agree</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcApproverNumber</name>
        <label>dcApproverNumber</label>
        <locationX>550</locationX>
        <locationY>697</locationY>
        <defaultConnector>
            <targetReference>scNoContractAppNumber</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>App number error</defaultConnectorLabel>
        <rules>
            <name>X1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varContractAppNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ruContractApp1</targetReference>
            </connector>
            <label>1</label>
        </rules>
        <rules>
            <name>X2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varContractAppNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ruContractApp2</targetReference>
            </connector>
            <label>2</label>
        </rules>
        <rules>
            <name>X3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varContractAppNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ruContractApp3</targetReference>
            </connector>
            <label>3</label>
        </rules>
        <rules>
            <name>X4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varContractAppNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>4.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ruContractApp4</targetReference>
            </connector>
            <label>4</label>
        </rules>
        <rules>
            <name>X5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varContractAppNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ruContractApp5</targetReference>
            </connector>
            <label>5</label>
        </rules>
        <rules>
            <name>X6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varContractAppNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>6.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ruContractApp6</targetReference>
            </connector>
            <label>6</label>
        </rules>
        <rules>
            <name>X7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varContractAppNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>7.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ruContractApp7</targetReference>
            </connector>
            <label>7</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcContractApproverNumber</name>
        <label>dcContractApproverNumber</label>
        <locationX>183</locationX>
        <locationY>221</locationY>
        <defaultConnector>
            <targetReference>scNoContractAppNumber</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varContractAppNumber</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>luContract</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcContractRecord</name>
        <label>dcContractRecord</label>
        <locationX>178</locationX>
        <locationY>48</locationY>
        <defaultConnector>
            <targetReference>scNocontractID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varContractID</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>dcContractApproverNumber</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <label>ContractComplianceSignOff</label>
    <recordCreates>
        <name>rcComplianceSignOff</name>
        <label>rcComplianceSignOff</label>
        <locationX>188</locationX>
        <locationY>714</locationY>
        <connector>
            <targetReference>dcApproverNumber</targetReference>
        </connector>
        <inputAssignments>
            <field>Comments__c</field>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract__c</field>
            <value>
                <elementReference>varContractID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReviewDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Contract_Compliance__c</object>
    </recordCreates>
    <recordLookups>
        <name>luContract</name>
        <label>luContract</label>
        <locationX>186</locationX>
        <locationY>372</locationY>
        <connector>
            <targetReference>scSignOff</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varContractID</elementReference>
            </value>
        </filters>
        <object>TMN_Contract__c</object>
    </recordLookups>
    <recordUpdates>
        <name>ruContractApp1</name>
        <label>ruContractApp1</label>
        <locationX>149</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>scagree</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varContractID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>App_1_Compliance_Sign_Off__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>TMN_Contract__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>ruContractApp2</name>
        <label>ruContractApp2</label>
        <locationX>289</locationX>
        <locationY>862</locationY>
        <connector>
            <targetReference>scagree</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varContractID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>App_2_Compliance_Sign_Off__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>TMN_Contract__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>ruContractApp3</name>
        <label>ruContractApp3</label>
        <locationX>419</locationX>
        <locationY>865</locationY>
        <connector>
            <targetReference>scagree</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varContractID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>App_3_Compliance_Sign_Off__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>TMN_Contract__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>ruContractApp4</name>
        <label>ruContractApp4</label>
        <locationX>617</locationX>
        <locationY>871</locationY>
        <connector>
            <targetReference>scagree</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varContractID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>App_4_Compliance_Sign_Off__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>TMN_Contract__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>ruContractApp5</name>
        <label>ruContractApp5</label>
        <locationX>755</locationX>
        <locationY>873</locationY>
        <connector>
            <targetReference>scagree</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varContractID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>App_5_Compliance_Sign_Off__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>TMN_Contract__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>ruContractApp6</name>
        <label>ruContractApp6</label>
        <locationX>890</locationX>
        <locationY>875</locationY>
        <connector>
            <targetReference>scagree</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varContractID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>App_6_Compliance_Sign_Off__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>TMN_Contract__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>ruContractApp7</name>
        <label>ruContractApp7</label>
        <locationX>1019</locationX>
        <locationY>876</locationY>
        <connector>
            <targetReference>scagree</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varContractID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>App_7_Compliance_Sign_Off__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>TMN_Contract__c</object>
    </recordUpdates>
    <screens>
        <name>scagree</name>
        <label>scagree</label>
        <locationX>556</locationX>
        <locationY>1068</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <fields>
            <name>a</name>
            <fieldText>agree</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>scdisagree</name>
        <label>scdisagree</label>
        <locationX>438</locationX>
        <locationY>599</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <fields>
            <name>b</name>
            <fieldText>disagree</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>scNoContractAppNumber</name>
        <label>scNoContractAppNumber</label>
        <locationX>483</locationX>
        <locationY>222</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <fields>
            <name>errorNoApNumber</name>
            <fieldText>You are not an approver of this record</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>scNocontractID</name>
        <label>scNocontractID</label>
        <locationX>464</locationX>
        <locationY>49</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <fields>
            <name>error</name>
            <fieldText>No Contract was selected</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>scSignOff</name>
        <label>scSignOff</label>
        <locationX>190</locationX>
        <locationY>485</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>dcAgree</targetReference>
        </connector>
        <fields>
            <name>info</name>
            <fieldText>ID
{!varContractID}
#
{!varContractAppNumber}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Comments</name>
            <fieldText>Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>chAgree</name>
            <choiceReferences>agree</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <startElementReference>dcContractRecord</startElementReference>
    <variables>
        <name>varContractAppNumber</name>
        <dataType>Number</dataType>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varContractID</name>
        <dataType>String</dataType>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
